{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set allorgs = h.organizations_available(permission='manage_group') %}

{% set errors = errors or {} %}

<form class="form-horizontal" method="post" action="{{ action_url }}" data-module="basic-form">

  <div class="control-group">
    <label for="field-private" class="control-label">{{ _('Featured Orgs') }}</label>
    <div class="controls">
    <select multiple="multiple" id="mu-select" name="mu-select[]">
        {% for option in data %}
        <option value="{{ option }}" selected="selected">{{ option|upper }}</option>
        {% endfor %}
      </select>
     <select id="mu-select" name="mu-select[]" multiple="multiple">
        {% for option in allorgs %}
        <option value="{{ option.display_name }}" >{{ option.display_name|upper }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

</div>

  <div class="form-actions">

      <a class="btn pull-left" href="{{ cancel_url }}">{{ _('Cancel') }}</a>
      <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Update Config') }}</button>
  </div>

</form>
