{% extends 'ckanext_frontpage/edit_base.html' %}

{% block page_primary_action %}
  {% if h.check_access('ckanext_frontpage_update', {}) %}
    {% link_for _('Add page'), controller='ckanext.frontpage.controller:FrontpageController', action='frontpage_edit', page='', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{{ _('Frontpage') }}</h1>
  {% snippet 'ckanext_frontpage/snippets/frontpage_list.html', frontpage=c.page.items %}
  {{ c.page.pager() }}
{% endblock %}

{% block main_content %}
   <div class="wrapper no-nav">
     {{ self.primary_content() }}
   </div>
{% endblock %}
